apiVersion: v1
kind: Secret
metadata:
  name: db-secret
  namespace: pokedex
type: Opaque
stringData:
  DB_HOST: "airflow-postgres.postgres.svc.cluster.local"
  DB_PORT: "<port>"
  DB_NAME: "<database>"
  DB_USER: "<user>"
  DB_PASSWORD: "<password>"
