auth:
  username: "<username>"
  password: "<password>"
  postgresPassword: "<password>"

primary:
  initdb:
    scripts:
      init_data_db.sh: |
        #!/bin/bash
        set -e
        PGPASSWORD="$POSTGRESQL_POSTGRES_PASSWORD" psql -v ON_ERROR_STOP=1 --username <user_root> <<-EOSQL
          CREATE USER <user> WITH PASSWORD '<password>';
          CREATE DATABASE data OWNER <user>;
          GRANT ALL PRIVILEGES ON DATABASE data TO <user>;
        EOSQL
