apiVersion: v1
kind: Secret
metadata:
  name: data-db-credentials
  namespace: airflow

type: Opaque
stringData:
  DB_HOST: "<host>"
  DB_PORT: "5432"
  DB_NAME: "data"
  DB_USER: "<user"
  DB_PASSWORD: "<password>"