webserverSecretKey: "<SecretKey>"
# Pode ser gerado pelo comando:
# python3 -c "import secrets; print(secrets.token_hex(32))"

webserver:
  defaultUser:
    enabled: true
    role: <Role>
    username: <username>
    password: <password>

data:
  metadataConnection:
    user: "<user>"
    pass: "<password>"
    host: <host>
    port: 5432
    db: airflow
    sslmode: disable

dags:
  gitSync:
    sshKey: |
      <OPENSSH PRIVATE KEY>
    knownHosts: |
      github.com ssh-rsa <host>
      github.com ecdsa-sha2-nistp256 <host>
      github.com ssh-ed25519 <host>

env:
  - name: AIRFLOW_CONN_POSTGRES_DATA
    value: "<connection_host>"